<a href="https://colab.research.google.com/github/JoaquinGonzalezSimon/Data_science_and_ML_from_Medium/blob/main/220902_Amazon_Recommendation_System_using_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### This project was taken from the following link and I use it to practice my skills

https://thecleverprogrammer.com/2021/03/23/amazon-recommendation-system-using-python/

https://medium.com/coders-camp/180-data-science-and-machine-learning-projects-with-python-6191bc7b9db9

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

In [10]:
data = pd.read_csv('/content/drive/MyDrive/Ironhack/DBs/Amazon_Recommendation_system.csv', header=None)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7824482 entries, 0 to 7824481
Data columns (total 4 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       object
 2   2       float64
 3   3       int64
dtypes: float64(1), int64(1), object(2)
memory usage: 238.8+ MB

In [12]:
data.columns=['user_id', 'product_id', 'ratings', 'timestamp']

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7824482 entries, 0 to 7824481
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   user_id     object
 1   product_id  object
 2   ratings     float64
 3   timestamp   int64
dtypes: float64(1), int64(1), object(2)
memory usage: 238.8+ MB

In [14]:
data.head()

          user_id  product_id  ratings   timestamp
0   AKM1MP6P0OYPR  0132793040      5.0  1365811200
1  A2CX7LUOHB2NDG  0321732944      5.0  1341100800
2  A2NWSAGRHCP8N5  0439886341      1.0  1367193600
3  A2WNBOD3WNDNKT  0439886341      3.0  1374451200
4  A1GI0U4ZRJA8WN  0439886341      1.0  1334707200

In [15]:
df = data[:int(len(data) * .2)]

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1564896 entries, 0 to 1564895
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   user_id     1564896 non-null  object
 1   product_id  1564896 non-null  object
 2   ratings     1564896 non-null  float64
 3   timestamp   1564896 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 47.8+ MB

In [22]:
counts = df['user_id'].value_counts()
counts

A5JLAU2ARJ0BO     435
A231WM2Z2JL0U3    249
A6FIAB28IS79      212
A25HBO5V8S8SEA    164
AKT8TGIT6VVZ5     151
                 ...
A1D6UPUMUR2BBM      1
AC2YATGF6C4WD       1
A3CUQFH84HBTY0      1
A1FFZWFQ7486QN      1
A3HURA71OTN63       1
Name: user_id, Length: 1110608, dtype: int64

In [29]:
data = df[df['user_id'].isin(counts[counts>50].index)]

In [30]:
data.head()

             user_id  product_id  ratings   timestamp
2082  A2ZR3YTMEEIIZ4  1400532655      5.0  1300233600
2162   A5JLAU2ARJ0BO  1400532655      1.0  1291334400
3050   ALUNVOQRXOZIA  1400599997      1.0  1271548800
4331  A3QQGPI3CTV9SX  787988002X      5.0  1215648000
4614   A1VQHH85U7PX0  9043413585      3.0  1233792000

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6360 entries, 2082 to 1564629
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     6360 non-null   object
 1   product_id  6360 non-null   object
 2   ratings     6360 non-null   float64
 3   timestamp   6360 non-null   int64
dtypes: float64(1), int64(1), object(2)
memory usage: 248.4+ KB

In [34]:
data.groupby('product_id')['ratings'].mean().sort_values(ascending=False)

product_id
B000M11WJ0    5.0
B000IALP88    5.0
B0001AOGAE    5.0
B000I9B2AA    5.0
B0001AU6H6    5.0
             ...
B000TM9T7O    1.0
B0007U00XU    1.0
B00009R86L    1.0
B0007UMDU8    1.0
B00009R838    1.0
Name: ratings, Length: 4967, dtype: float64

In [35]:
final_ratings = data.pivot(index='user_id', columns='product_id', values='ratings').fillna(0)
final_ratings

product_id,1400532655,1400599997,787988002X,9043413585,9981719005,998376234X,B000000O48,B000001OL6,B000001OMI,B000001OMN,...,B0010Z294O,B0011000R6,B001110ZKC,B00111DJJG,B001120WQ8,B00113PUJQ,B00113U42O,B00113V748,B00113W6NO,B00113X7Q4
user_id,,,,,,,,,,,,,,,,,,,,,
A11D1KHM7DVOQK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A11ED8O95W2103,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A11KZ906QD08C5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A12DLJESJKM1OQ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A1435P5AMCPB3X,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
AOEAD7DPLZE53,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ARBKYIVNYWK3C,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AT2J7H5TRZM8Z,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AT6CZDCP4TRGA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0
AWPODHOB4GFWL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
num_of_ratings = np.count_nonzero(final_ratings)
num_of_ratings

6360

In [40]:
possible_ratings = final_ratings.shape[0] * final_ratings.shape[1]
possible_ratings

382459

In [41]:
density = (num_of_ratings/possible_ratings)
density *= 100
density

1.6629233460318624

In [42]:
final_ratings_t = final_ratings.transpose()

In [43]:
final_ratings_t

user_id,A11D1KHM7DVOQK,A11ED8O95W2103,A11KZ906QD08C5,A12DLJESJKM1OQ,A1435P5AMCPB3X,A149RNR5RH19YY,A15QYHQH80W30L,A17BUUBOU0598B,A1EH2S92FHWZRP,A1EKSETIBS9ETQ,...,AGHZXQL9F94T9,AGXV8E7XK9J6H,AK3GKIV8DEY8B,AKT8TGIT6VVZ5,ALUNVOQRXOZIA,AOEAD7DPLZE53,ARBKYIVNYWK3C,AT2J7H5TRZM8Z,AT6CZDCP4TRGA,AWPODHOB4GFWL
product_id,,,,,,,,,,,,,,,,,,,,,
1400532655,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1400599997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
787988002X,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9043413585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9981719005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
B00113PUJQ,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
B00113U42O,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
B00113V748,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
B00113W6NO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
B00113X7Q4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
data.groupby('product_id').agg({'user_id':'count'}).reset_index()

      product_id  user_id
0     1400532655        2
1     1400599997        1
2     787988002X        1
3     9043413585        1
4     9981719005        1
...          ...      ...
4962  B00113PUJQ        1
4963  B00113U42O        1
4964  B00113V748        3
4965  B00113W6NO        1
4966  B00113X7Q4        1

[4967 rows x 2 columns]

In [48]:
data.groupby('product_id')['user_id'].count().reset_index()

      product_id  user_id
0     1400532655        2
1     1400599997        1
2     787988002X        1
3     9043413585        1
4     9981719005        1
...          ...      ...
4962  B00113PUJQ        1
4963  B00113U42O        1
4964  B00113V748        3
4965  B00113W6NO        1
4966  B00113X7Q4        1

[4967 rows x 2 columns]

In [44]:
grouped = data.groupby('product_id').agg({'user_id':'count'}).reset_index()

In [49]:
grouped

      product_id  user_id
0     1400532655        2
1     1400599997        1
2     787988002X        1
3     9043413585        1
4     9981719005        1
...          ...      ...
4962  B00113PUJQ        1
4963  B00113U42O        1
4964  B00113V748        3
4965  B00113W6NO        1
4966  B00113X7Q4        1

[4967 rows x 2 columns]

In [50]:
grouped.rename(columns={'user_id':'score'}, inplace=True)

In [51]:
grouped.head()

   product_id  score
0  1400532655      2
1  1400599997      1
2  787988002X      1
3  9043413585      1
4  9981719005      1

In [52]:
training_data = grouped.sort_values(['score', 'product_id'], ascending=[0,1])
training_data

      product_id  score
4038  B000JMJWV2     13
553   B00005LEN4     12
374   B00004ZCJE     11
3185  B000AZ57M6     10
1265  B00007KDVI      9
...          ...    ...
4961  B001120WQ8      1
4962  B00113PUJQ      1
4963  B00113U42O      1
4965  B00113W6NO      1
4966  B00113X7Q4      1

[4967 rows x 2 columns]

In [53]:
training_data['rank'] = training_data['score'].rank(ascending=0, method='first')
training_data.head()

      product_id  score  rank
4038  B000JMJWV2     13   1.0
553   B00005LEN4     12   2.0
374   B00004ZCJE     11   3.0
3185  B000AZ57M6     10   4.0
1265  B00007KDVI      9   5.0

In [54]:
training_data.tail()

      product_id  score    rank
4961  B001120WQ8      1  4963.0
4962  B00113PUJQ      1  4964.0
4963  B00113U42O      1  4965.0
4965  B00113W6NO      1  4966.0
4966  B00113X7Q4      1  4967.0

In [55]:
recommendations = training_data.head()

In [56]:
def recommend(id):
  recommend_prods = recommendations
  recommend_prods['user_id'] = id
  column = recommend_prods.columns.tolist()
  column = column[-1:] + column[:-1]
  recommend_products = recommend_prods[column]
  return recommend_products

In [58]:
recommend_prods = recommendations
column = recommend_prods.columns.tolist()

In [62]:
column[:-1]

['product_id', 'score']

In [65]:
recommend(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

      user_id  product_id  score  rank
4038       10  B000JMJWV2     13   1.0
553        10  B00005LEN4     12   2.0
374        10  B00004ZCJE     11   3.0
3185       10  B000AZ57M6     10   4.0
1265       10  B00007KDVI      9   5.0